*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#title{
    position: relative;
    font-size: 30px;
    left: 90px;
    font-family: "Times New Roman";
}
/* ---------------------------search-section--------------------------- */
form{
    display: flex;
}
[type="text"]{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    left: 190px;
    cursor: pointer;
    border: 1px solid #eeeaea;
    top: -30px;
}
[type="submit"]{
    position: relative;
    left: 200px;
    cursor: pointer;
    width: 55px;
    border-radius: 5px;
    border: 1px solid #eae9e9;
    background-color: yellow;
    top: -30px;
}
/* ------------------------signup-login-section-------------------------- */
.btn01{
    position: relative;
    left: 670px;
    font-family: "Times New Roman";
    top: -55px;
    border:none;
    background-color: #fff;
    color: #565454;
    cursor: pointer;
}
.btn02{
    position: relative;
    left: 690px;
    top: -55px;
    border: none;
    font-family: "Times New Roman";
    background-color: #fff;
    color: #4f4d4d;
    cursor: pointer;
}
.tittle010{
    position: relative;
    left: 90px;
    font-family: "Times New Roman";
    top: -40px;
    font-size: 8px;
    color: #464646;
    cursor: pointer;
}
#big-img img{
    width: 80%;
    height: 270px;
    position: relative;
    left: 90px;
    top: -20px;
    border-radius: 5px;
}
#big-img h5{
    position: relative;
    top: -20px;
    left: 90px;
    font-size: 22px;
    font-family: serif;
    font-weight: 100;
}
#big-img h6{
    position: relative;
    top: -20px;
    left: 90px;
    font-size: 11px;
    font-family: serif;
    font-weight: 100;
}
.open{
    color: #ff0000;
    font-size: 10px;
    position: relative;
    left: 90px;
    top: -38px;
}
#open{
    font-size: 10px;
    position: relative;
    left: 90px;
    top: -38px;
}
#four-button{
    display: inline-block;
    
}
#four-button button{
    position: relative;
    top: -30px;
    left: 88px;
    background-color: #fff;
    color: #000;
    border: 0.25px solid #bdbcbc;
    font-size: 13px;
    font-weight: 50;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
}
#menu ul{
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    position: relative;
    left: 120px;
    top: -50px;
}
#menu ul li{
    margin: 10px 20px;
}
#menu ul li a{
    text-decoration: none;
    color: #000;
}
#menu ul li a:hover{
    color: #ff0000;
}
#list-element{
    width: 200px;
    height: 200px;
    border: none;
    position: relative;
    top: -68.5px;
    left: 85px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#list-element h6{
    font-size: 15px;
    position: relative;
    left: 5px;
    font-weight: normal;
}
#list-element a{
    text-decoration: none;
    color: #000;
}
#list-element a:hover{
    color: #e76a6a;
    transition: 0.25s;
}
#order-menu{
    display: flex;
    position: relative;
    left: 150px;
    top: -60px;
}
#order-menu h5{
    position: relative;
    left: 150px;
    top: -210px;
}
#order-menu h6{
    position: relative;
    left: 73px;
    top: -195px;
    font-size: 10px;
}
#order-menu button{
    position: relative;
    background-color: #00c;
    color: #ffffff;
    top: -170px;
    left: -55px;
    margin: 2px;
    padding: 2px;
    border: none;
    font-size: 8px;
    border-radius: 3px;
}
#order-menu p{
    position: relative;
    top: -132px;
    left: -395px;
    font-size: 10px;
}
input[type="checkbox"]{
    position: relative;
    top: -140px;
    left: -395px;
}
.tittle-01{
    position: relative;
    top: -200px;
    left: 300px;
    font-size: 15px;
}
#image-menu{
    display: block;
    width: 100%;
    height: 100%;
}
#image-menu img{
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
#image-menu p{
    text-align: center;
    color: #120e0e;
    position: relative;
    left: 90px;
    top: -150px;

}
#image-menu h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
#image-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#image-menu li{
    padding: 5px;
    margin: 10px;
    position: relative;
    bottom: -500px;
    left: -400px;
}
.fa{
    font-size: 26ps;
    transition: .4s;
}
.checked{
    color: #f47209;
}
.fa :hover{
    transform: scale(1,3);
    transition: .6s;
}